/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   COLORS (using UW Brand where appropriate)
   ========================================================================== */
/*
 PURPLE       : #4b2e83
 GOLD         : #e8e3d3
 METALLIC GOLD: #85754d
 GREY LIGHT   : #d9d9d9
 GREY DARK    : #444444


 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	background-color:#e8e3d3;
	font-family: Arial, Helvetica, sans-serif; 	
}
figure{
    width:20%;
    margin:0 auto;
}
h1{
	font-size:2em; /* 35px / 16px */
	font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT",  "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:normal;	
	
}
h2{
	color:#46276d;
	font-size:1.5em; /*18px / 16px */
	font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT",  "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-style:italic;
	font-weight:lighter;
}
h3{
    font-size:1.125em; /*18px / 16px */
	font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT",  "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:lighter;
    color:#b6a5b7;
}
p{
	color:#868f98;
	line-height:1.75em;
    font-size:1em; /* 13px /16px */
}
ul{
    color:#868f98;
	font-weight:normal;
}
ol{
	color:#868f98;	
	margin-top:-2em;
	margin-left:6%;
	padding:0;
	padding-bottom:3%;
}
ol li{
	padding-top:1%;	
}
a{
 	color:#6e3dae;
 	text-decoration:underline;
}
a:hover{
  	color:#6e3dae;
 	text-decoration:none;  
}
.bold{
	font-weight:600;	
	font-style: italic;
}
/* ==========================================================================
   generic class
   ========================================================================== */
.toppadding{
    padding-top:4%;   
}
.clear:before,
.clear:after{
  content:"";
  display:table;
  clear:both;
  }
  .clear:after{
    clear: both;
    }
.clear{
  zoom: 1; /* ie67 */
}
.blurb{
	margin-top:-1em;	
}
/* ==========================================================================
   Site Banner
   ========================================================================== */
.banner{
  text-align:center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.banner .topband{
  background-color:#4b2e83;
}
.banner .subband{
  background-color:#fff;
  text-align: left;
  border-bottom: 5px solid #85754d;
height: 150px;
}
.banner #homelogo{
width: 244px;
float: left;
position: relative;
          z-index: 1;
}
.banner nav{
position: relative;
top: 50%;
transform: translateY(-50%);
}

/* ==========================================================================
   main menu
   ========================================================================== */
.menu{
	display:block;
	margin-left:3%;
}
.menu li{
	display:inline-block;
	position:relative;
	z-index:100;
	/*padding-right:3.644068%;*/
  padding: 10px;
}
.menu li a {
  padding: 10px;
	text-decoration:none;
	display:block;
	color:#4b2e83;
  font-weight: bold;
  text-transform: capitalize;
	-webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   -o-transition: all 0.2s ease-in-out 0s;
   -ms-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;
}
.menu li a.active {
	border-bottom:4px solid #4b2e83;
}
.menu li:first-child a{
	border-top:none;
	/*padding-top:0;*/
}
.menu li a:hover, .menu li:hover > a{
color:#4b2e83;
      background-color: #d9d9d9;
      /*text-decoration:underline;*/
transform: skew(-15deg, 0deg) ;
           -webkit-transform: skew(-15deg, 0deg) ;
           -moz-transform: skew(-15deg, 0deg) ;
           -o-transform: skew(-15deg, 0deg) ;
           -ms-transform: skew(-15deg, 0deg) ;
}
.menu ul li {
	display:block;
	float: none;
	background:none;
	margin:0;
	padding:0;
}
.menu ul li a {	
	font-size:2em;
	font-weight:normal;
	display:block;
	color:#797979;
	border-left:12px solid #ffffff;
	background:#ffffff;
}
.menu ul li a:hover, .menu ul li:hover > a{
	border-left:13px solid #000000;
	color:#ffffff;
}
.menu li:hover > ul{
	display: block;
}
.mobile-menu{	
	display:none;
	height:45px;
	overflow:hidden;
	margin:0;
	padding:0;
	color:#ffffff;
	text-transform:uppercase;
	font-weight:600;
	text-decoration:none;
}
.mobile-menu b{	
	background-color:#333333;
	padding:20px;
	padding-top:10px;
	float:right;
}
.mobile-menu:hover{
	color:#ffffff; 
	text-decoration:underline;
}


/* ==========================================================================
   page container
   ========================================================================== */
.page{
	margin:0 auto;
	width:90%;
	max-width:1180px;
	background-color:#ffffff;	
}
.logo2{
	display:none;
}

/* ==========================================================================
   header
   ========================================================================== */
header{
	background-color:#fff;
	overflow:hidden;	
}
header nav {
	float:left;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT",  "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    padding:0;
    margin:0;
	width:75%
}
/* ==========================================================================
   social icons
   ========================================================================== */
div.socialIcons{
	width:auto;
	display:block;	
	height: 70px;
	text-align:center;
}
div.socialIcons .socialText{
	font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT",  "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: #4b2e83;
	text-transform:uppercase;
	font-size:x-large;
	display: inline-block;
	}
ul.social{
	float: right;
	margin-right:10px;
}
ul.social li{
	display:inline-block;
	/*width:15%;*/
	/*padding:3% 0;*/
}

ul.social .fa-stack-2x{
	font-size:2.5em;
	color: #4b2e83;
	}

ul.social .fa-stack-1x{
	color: #fff;
	font-size:1.25em;
	line-height: 2em;
	}
ul.social .fa-stack-1x:hover{
	color: #e8e3d3;
	}

/* ==========================================================================
   center div
   ========================================================================== */
.center{
	width:89.830508%; /* 1060px / 1180px */ 
	margin:0 auto;	
	overflow:hidden;
	font-family: Arial, Helvetica, sans-serif;
  /*margin-top: 250px;*/
}
/* ==========================================================================
   content div
   ========================================================================== */
.bottomSpace{
	padding-bottom:30px;
	overflow:hidden;	
}
.content{
	float:left;
	width:31.132075%; /* 330px / 1060px */ 
	padding:0;
}
.middle{
	margin:0 2.830189%; /* 30px / 1060px */
}
.content a{
	text-decoration:underline;
}
/* ==========================================================================
   divider, blockquote
   ========================================================================== */
.divider{
	clear:both;
	text-align:center;
	display:block;
	width:100%;
	padding-top:6%;
	padding-bottom:6%;
}
blockquote{
	margin:60px auto;
	font-size:1.875em; /* 35px / 16px */	
	color:#46286d;
	line-height:1.5em;
	font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT",  "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:normal;
	text-align:center;
	width:73.584906%; /* 780px; / 1060px */
}
.quoteAuthor{
	display:block;
	font-size:.6em; 
	line-height:1.125em;
	color:#868f98;
	padding-top:30px;
	font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT",  "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:normal;
}
/* ==========================================================================
  infographics
   ========================================================================== */
.figcaption{
    padding-top:5.882353%;
	text-align:center;	
	color:#868f98;
	font-size:1em;
	font-family: Arial, Helvetica, sans-serif;
}
.infoGraph1{
	background-image:url(../img/infoGraph1_340.jpg);
	background-repeat:no-repeat;
	background-position:top;
	padding-top:12em;	
}
.infoGraph2{
	background-image:url(../img/infoGraph2_340.jpg);
	background-repeat:no-repeat;
	background-position:top;
	padding-top:12em;	
}
.infoGraph3{
	background-image:url(../img/infoGraph3_340.jpg);
	background-position:top;
	background-repeat:no-repeat;
	padding-top:12em;	
}
/* ==========================================================================
  recovery nav
   ========================================================================== */
.recovery{
	display:block;
    margin:0 auto;
	padding:6% 0 3%;
}
.recovery ul{
    padding:0;
    text-align:center;
}
.recovery li{
    padding-left:.595238%; /* 5px / 840px */
    font-size:.875em;
    display:inline-block;
}
.recovery a{
    text-decoration:none;
    color:#000000;
}
.recovery a:hover{
    text-decoration:underline;
}
.recovery li:first-child{
    padding-left:0;
}
/* ==========================================================================
   footer
   ========================================================================== */
footer{
    clear:both;
	background-color:rgb(178, 164, 199);	
	color: #000;
    overflow:hidden;
    margin:0;
	padding-top:2em;
}
footer .page{
	background-color:rgb(178, 164, 199);	
}
footer div.content p{
    font-size:.8125em; /*13px / 16px */
    line-height:1.525em;
	font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT",  "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:normal;
    color:#000;
}
footer a,
footer .content,
footer .content h3{
    color:#000;
}
footer .social{
	float:none;
	}
p.tweet ul{
	list-style:none;
    margin:0;
    padding:0;
}
p.tweet li{
    padding-bottom:4%;
	color:#b6a5b7;
}
span.copyRight{
    padding-top:4.25%;
    padding-bottom:4.25%;
    display:block;
    font-size:.8125em; /*13px / 16px */
    line-height:1.525em;
	font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT",  "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:normal;
    text-align:left;
    color:#000;
}
.socialRecovery li{
	width:11.333333%;
	padding-left:2%;
	display:inline-block;
}
/* ==========================================================================
   secondary page titles 
   ========================================================================== */
 .sectionTitle{
	background-color:#46276d;
	color:#ffffff;	
	text-align:center;
	padding:4%;
	margin-bottom:3%;
	-webkit-box-shadow: 0 8px 8px 0 rgba(0,0,0,.4); 
	-moz-box-shadow: 0 8px 8px 0 rgba(0,0,0,.4); 
	-o-box-shadow: 0 8px 8px 0 rgba(0,0,0,.4); 
	box-shadow: 0 8px 8px 0 rgba(0,0,0,.4);
}
 .sectionIndex{
	 display:none;
}
.sectionTitle p{
	line-height:1.425em;
	font-size:1.475em; /* 35px / 16px */
	font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT",  "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	width:80%;
	color:#ffffff;
	margin:0 auto;
}
/* ==========================================================================
   about us page
   ========================================================================== */
.aboutus{
   text-align:left;
}

.aboutus .left{
	width: 250px;
	}
.aboutus figure{
	width:100%;
	}

p.aboutus{
	color:#868f98;
    /*padding-bottom:8%;*/
}

p.teamcontact{
    padding-bottom:8%;
    color:#868f98;

}

/* ==========================================================================
   projects page
   ========================================================================== */
p.projects{
    padding-bottom:3%;
}
.olHeader{
	font-weight:bold;
	display:block;
	margin-top:1em;
}
/* ==========================================================================
   what we do page
   ========================================================================== */
.bulletListHeader{
	color:#46276d;
	line-height:1.5em;
    font-size:1em; /* 13px /16px */
	font-weight:bold;	
}
.bulletListHeader ul{
    margin-left:17px;
}
bulletListHeader li{
    padding:1% 0;
}

/* ==========================================================================
   contact page
   ========================================================================== */
.left{
    width:45%;
    float:left;
}
.right{
	width:45%;
    float:right;
}
.map{
    padding:37px 0;
    width:100%;
    height:100%
}
.mapLink{
	line-height:1.5em;
    font-size:.775em; /* 13px /16px */
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (max-width: 1024px) {
.infoGraph1{
	background-image:url(../img/infoGraph1_280.jpg);
	padding-top:9em;	
}
.infoGraph2{
	background-image:url(../img/infoGraph2_280.jpg);
	padding-top:9em;	
}
.infoGraph3{
	background-image:url(../img/infoGraph3_280.jpg);
	padding-top:9em;	
}


}
@media (max-width: 968px) {
header nav{
	width:100%;
	margin-left:0;
	text-align:center;		
}
.menu{
	margin-left:0;
}
span.socialIcons{
	display:none;
}
blockquote{
	font-size:1.5em;
	width:100%;	
}
nav.recovery{
	width:100%;
}
.quoteAuthor{
	font-size:.775em; 
}
}
@media (max-width: 768px) {
.menu{
	margin-left:0;
	padding-bottom:.8em;
}
.menu li{
	padding-right:1.8%;
}
.sectionTitle p{
	line-height:1.425em;
	font-size:1.475em; /* 35px / 16px */
	width:75%;
}
.bottomSpace{
	padding-bottom:0;	
}
.content{
	float:none;
	width:auto;
	padding:0;	
	margin-bottom:6em;
}
.content img{
	width:100%;
}
.middle{
	margin-left:0;
	margin-right:0;	
}
h2{
	font-size:1.45em;
	line-height:1em;	
}
blockquote{
	font-size:1.25em;
	width:auto;	
}
.divider{
	padding-top:0;
}
.quoteAuthor{
	font-size:.775em; 
}
.figcaption{
	display:block;
	width:auto;
	font-size:1.15em;
}
.infoGraph1{
	background-image:url(../img/infoGraph1_540.jpg);
	padding-top:16em;	
}
.infoGraph2{
	background-image:url(../img/infoGraph2_540.jpg);
	padding-top:18em;	
}
.infoGraph3{
	background-image:url(../img/infoGraph3_540.jpg);
	padding-top:16em;	
}
.socialRecovery li{
	width:8%;
}
footer .content{
	margin-bottom:0;		
}
}
@media (max-width: 568px)  {
.page{
	width:95%;	
}
.center{
	width:95%;	
}
.banner img{
	width:60%;
}
.logo1{
	display:none;	
}
.logo2{
	 width:100%;
    display:block;
	margin:0 auto;
}
h1{
	font-size:1.5em;	
}
.flexslider{
	display:none;	
}
 .sectionTitle{
	margin-bottom:8%;
}
 .sectionIndex{
	display:block;
	background-color:#46276d;
	color:#ffffff;	
	text-align:center;
	padding:4%;
	margin-bottom:4%;
	-webkit-box-shadow: 0 8px 8px 0 #999999;
	-moz-box-shadow: 0 8px 8px 0 #999999;
	box-shadow: 0 8px 8px 0 #999999;
}
.sectionIndex p{
	font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT",  "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	line-height:1.25em;
	font-size:1.15em; 
	width:100%;
	padding-bottom:.6em;
	color:#ffffff;
	margin:0 auto;
}
header nav{
	width:100%;
	background-color:#ffffff;
	text-align:left;		
}
.mobile-menu{
	display:block;
}
.menu{
	display:none;
	width:480px;
	padding-top:1.5%;
	padding-bottom:1%;
}
.menu li{
	display:block;
}	
.menu li a {
	background:#ffffff;
	color:#797979;
	border-top:1px solid #e0e0e0;
	padding-top:1.5%;
	padding-left:1.5%;

}
.menu li:first-child a{
	border-top:none;
	padding-top:0;

}
menu li a:hover, .menu li:hover > a{
	background:#edeef1;
	color:#797979;
}
.menu ul {
	display:block;
	position:relative;
	top:0;
	left:0;
}
.infoGraph1{
	background-image:url(../img/infoGraph1_280.jpg);
	background-position: top;
	padding-top:9em;	
}
.infoGraph2{
	background-image:url(../img/infoGraph2_280.jpg);
	background-position:top;
	padding-top:11em;	
}
.infoGraph3{
	background-image:url(../img/infoGraph3_280.jpg);
	background-position:top;
	padding-top:9em;	
}
.content{
	margin-bottom:3em;	
}
.recovery li{
    padding-left:0;
    font-size:.8em;
}
.half{
    width:100%;
    float:none;
}
.right{
    float:none;
	width:100%;
}
}
@media (max-width: 481px) {
.banner img{
	width:80%;
}
.recovery li{
    padding-left:0;
    font-size:.775em;
}

}
@media (max-width: 320px) {
.socialRecovery li{
	padding-top:0;
	width:11.333333%;
}

}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

#icon-wrapper{
	/*height:250px;*/
}
#icon-wrapper span{
/*This is for centering the icons...*/
}
#icon-wrapper .fa-lg{
  font-size: 5em;
}
#icon-wrapper .fa-lg div{
  font-size: 10%;
}

#icon-wrapper .grad-cap .fa-circle{
  color: rgb(247,150,70);
}
#icon-wrapper .aboutus .fa-circle{
  color: rgb(254,211,126);
}
#icon-wrapper .home .fa-circle{
  color: rgb(164,214,227);
}
#icon-wrapper .whatsnew .fa-circle{
  color: rgb(162, 210, 141);
}

#icon-wrapper i{
color: black;
}
#icon-wrapper .icon-container{
  float: left;
  width: 24.9%;
}
#icon-wrapper .icon-container span{
  text-align: center;
  display: block;
  width: 100%;
}
#icon-wrapper .icon-container a{
  font-size: 1.1em;
  text-decoration: none;
  margin-left:auto;
  margin-right: auto;
  color: #000;
}

.vertical-middle-parent{
		  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
	
	}
.vertical-middle{
	/* Don't forget to add .vertical-middle-parent to the parent element */
	  position: relative;
  top: 50%;
  transform: translateY(-50%);
	}